<div style="overflow-y: scroll; height:400px">
<table class="table table-bordered table-striped">
<% @all_spells.each do |s| %>
    <tr>
      <td><%= radio_button_tag(:spell_id, s.id, :checked => (s == @all_spells.first)) %>
        <%= link_to(s.name, srd_link(s.name), target: :_blank) %>
      </td>
    </tr>
<% end %>
</table>
</div>