<table>
  <tr><td>Name: </td><td>
    <%= f.text_field(:name) %>
  </td></tr>
  <tr><td>Class: </td><td>
    <%= f.select(:char_class, caster_names) %>
  </td></tr>
  <tr><td>Spellcasting score: </td><td>
    <%= f.number_field(:spellcasting_score, :in => 0..50) %>
  </td></tr>
  <tr><td>Level: </td><td>
    <%= f.number_field(:level, :in => 0..20) %>
  </td></tr>
</table>