<table>
  <tr><td>Name: </td><td>
    <%= f.text_field(:name) %>
  </td></tr>
  <tr><td>Class: </td><td>
    <!-- TODO use list instead of text field? -->
    <%= f.text_field(:char_class) %>
  </td></tr>
  <tr><td>Level: </td><td>
    <%= f.number_field(:level, :in => 0..20) %>
  </td></tr>
</table>